.jumpman {
  position: relative;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.jumpman > svg {
  width: 125px;
}

.jumpman > div {
  max-width: 350px;
  width: 100%;
  padding: 5px 50px;
}

.jumpman > div > p:nth-child(2) {
  font-weight: bolder;
  font-size: 1.2em;
}