.shop {
  min-height: 100px;
  margin: 20px 0;
}

.shop > .list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
  margin-left: 30px;
}

@media (min-width: 768px) { 
  .shop > .list {
    justify-content: center;
  }
}